# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Env
.env
.envrc
*.yaml
*.nix


# Logs
*log/*
.log
*logs*
log/**
*code_output*


# Misc
**.egg-info**
*.egg-info*
*code_output/*
**/__pycache__/**
**.pyc
startup_files.txt
pyproject.toml
requirements.txt
.vscode

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
