//site color variables
$body-color: #F8F9FA;
$primary-color: #3A3A3A;
$secondary-color: #6E6E6E;
$text-color: #2C2C2C;
$text-color-dark: #1A1A1A;
$gray: #E9ECEF;
$dark-gray: #5C5C5C;
$accent-color: #B78C4C; // Use sparingly

$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);


// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
